@charset "utf-8";
/* CSS Document */

#container {
  display: grid;
  grid-template-columns: minmax(min-content, 300px) minmax(200px, 1fr) 150px;
  grid-gap: 5px;
  box-sizing: border-box;
  height: 200px;
  width: 100%;
  background-color: #07a787;
  padding: 10px;
}
 
#container > div {
  background-color: #ffa400;
  padding: 5px;
}
