@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(239, 237, 237);
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
}
.title{
    font-size: 25px;
    font-weight: 700;
}
.social-icons{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons i{
    width: 50px;
    height: 50px;
    margin:0 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    color:#0e0e0e;
    cursor: pointer;
    box-shadow: -3px -3px 5px 0px #ffffffa6,
                3px 3px 5px 0px #0000004a;
}

.social-icons i:hover{
    box-shadow: -3px -3px 5px 0px #ffffffa6 inset,
                3px 3px 5px 0px #0000004a inset;
}