@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.nav {
  position: relative;
  width: 350px;
  height: 70px;
}

.nav ul {
  display: flex;
}

.nav ul li {
  position: relative;
  list-style: none;
  height: 70px;
  width: 70px;
  z-index: 1;
}

.nav ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.nav li a .icon {
  position: relative;
  line-height: 75px;
  transition: 0.5s;
  font-size: 30px;
}

.nav li.active a .icon {
  font-size: 20px;
  transform: translateY(-6px);
}

.nav ul li a .text {
  position: absolute;
  font-size: 12px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  font-weight: 400;
  transition: 0.25s;
  text-transform: uppercase;
  transform: scale(0);
}

.nav li.active a .text {
  transform: scale(1);
}

.indicator {
  position: absolute;
  left: 0;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  transition: 0.5s;
}

.nav ul li:nth-child(1).active ~ .indicator {
  background-color: #f53b57;
  box-shadow: 0 15px 25px #f53b5799;
  transform: translateX(calc(70px * 0));
}

.nav ul li:nth-child(2).active ~ .indicator {
  background-color: #5d62fb;
  box-shadow: 0 15px 25px #5d62fb99;
  transform: translateX(calc(70px * 1));
}

.nav ul li:nth-child(3).active ~ .indicator {
  background-color: #05c46b;
  box-shadow: 0 15px 25px #05c46b99;
  transform: translateX(calc(70px * 2));
}

.nav ul li:nth-child(4).active ~ .indicator {
  background-color: #0fbcf9;
  box-shadow: 0 15px 25px #0fbcf999;
  transform: translateX(calc(70px * 3));
}

.nav ul li:nth-child(5).active ~ .indicator {
  background-color: #ffa801;
  box-shadow: 0 15px 25px #ffa80199;
  transform: translateX(calc(70px * 4));
}
